<body class="container-fluid">


    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-6 col-lg-3">
                <h6>E-Shopping</h6>

                <li><a href="#" routerLink=""> Home </a> </li>
                <li><a href="#" routerLink="about"> About Us </a> </li>
                <li><a href="#" routerLink="service"> Services </a> </li>
                <li> <a href="#" routerLink="signup">Signup </a> </li>


            </div>
            <div class="col-6 col-lg-3">
                <h6>Contact Us</h6>
                <li></li>
                <li>Tel: 1860-123-1000</li>
                <li>Office Address:</li>
                <li>Mumbai:
                    Gala No. 3,4,5,6, Krishna Mill Compound
                    Sonapur lane, Off LBS marg,Bhandup West
                    Mumbai-400 078</li>

            </div>
            <div class="col-6 col-lg-3 mt-2">
                <h6>Download Our App</h6>
                <li style="list-style: none;"><img
                        src="https://www.bbassets.com/static/v2690/custPage/build/content/img/Google-App-store-icon.png"
                        alt="play"></li>
                <li><img src="https://www.bbassets.com/static/v2690/custPage/build/content/img/Apple-App-store-icon.png"
                        alt="apple"></li>
            </div>
            <div class="col-6 col-lg-3 mt-2">
                <h6>Get Social With Us</h6>

                <span><img width="48" height="48" src="https://img.icons8.com/color/48/facebook-new.png"
                        alt="facebook-new" /></span>
                <span><img width="48" height="48" src="https://img.icons8.com/color/48/instagram-new--v1.png"
                        alt="instagram-new--v1" /></span>
                <span><img width="48" height="48" src="https://img.icons8.com/color/48/whatsapp--v1.png"
                        alt="whatsapp--v1" /></span>
                <span><img width="48" height="48" src="https://img.icons8.com/color/48/twitter--v1.png"
                        alt="twitter--v1" /></span>
            </div>

        </div>
    </div>

</body>