<div>
    <img src="https://storage.sg.content-cdn.io/in-resources/075ba640-9325-4e0e-8157-cdf49e2a8909/Images/userimages/Online%20Super%20Market-aboutus-banner.jpg"
        class="img-fluid" alt="veg img.">
</div>

<div class="container">

    <h1>About E-Shopping</h1>

    <div class="row "> 
        <div class="col-12 col-lg-6">
            <!-- it set the moblie col-12 means full screen of moblie  & col-lg-6 for large screen means have 6 col in large screen-->
            E-shopping Hypermarkets in India is a result of a strategic partnership between Dubai based Landmark Group's
            Max Hypermarkets India Pvt. Ltd. & Amsterdam based E-shopping International. The company started with one
            store in 1932 and now comprises of 12,500+ stores in 44 countries across 4 continents. The success story of
            E-shopping has been underpinned by a set of values that have guided the organization since its inception
            which was more than 80 years ago. At the heart of these core values is the commitment of E-shopping stores
            worldwide towards Freshness, Choice, Value, & Service.
            <br>

            E-shopping India currently has 24 stores across 9 cities; Bengaluru, Mangalore, Shimoga, Chennai,
            Coimbatore, Hyderabad, New Delhi, Gurugram, & Ghaziabad.
            <br>
            Our Vision is to be the most engaging and innovative hypermarket in India, making a difference in the lives
            of teams, customers, communities and shareholders, Everyday!
            <br>
            We at E-shopping India are focused on extending the offline shopping experience to the online shopper at
            www.E-shoppingindia.com. Our e-commerce website is aimed at providing the convenience of shopping from
            anywhere, at any time. We make no compromises when it comes to 100% Order Fulfilment, On-time Delivery, and
            Easy Returns. Our 'Call & Order' facility is available every day of the week for our Bangalore & Mangalore
            stores between 10 am to 7 pm. We also have an exclusive app which provides our customers a convenient
            platform to shop from.
        </div>
        <div class="col-12 col-lg-6">
            Innovation: A way of life at E-shopping <br>
            Our stores are equipped with smart technology to provide world-class service to our customers. We have
            created a food kiosk - this star-studded interactive technology provides customers with delicious recipes
            with a simple click. The platform lists essential ingredients and required measurements so that the customer
            can get a more focused shopping experience. Our self-assist kiosks come with a call facility. These kiosks
            are available across the store which helps the customer to locate the exact aisle and shelf, thereby cutting
            down idle store time. It is inbuilt with a call facility which enables customer call support. The call
            facility sends an immediate intimation to the nearest store assistant, thereby not leaving the customer
            unattended.

            <br>
            For the first time in the retail space, a brand has ventured into the local hawker market with a purpose to
            organize the unorganized sector. E-shopping India collaborated with push-cart vendors of various localities
            to introduce E-shopping on Wheels. The pilot project in Bangalore operates with a 'Click & Collect' business
            model, which helps you get fresh fruits and vegetables right at our customers' doorstep. All they need to do
            is order their essentials online.
            <br>
            Our goal is to help our customers and their families to enjoy a healthier life, by spending less, and
            smiling more!
        </div>
    </div>
</div>

<!-- collapse -->

<div class="container mt-3">

    <div id="accordion">
        <div class="card">
            <div class="card-header back">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                    <b>What is E-shopping?</b>
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                <div class="card-body" style="background-color: aliceblue;">
                    <div> <img src="https://www.bigbasket.com/media/uploads/flatpages/about-us/about_shopbag.jpg"
                            style="float: right;" alt="shoping bag" class="img-fluid">
                    </div>
                    E-shopping.com (Innovative Retail Concepts Private Limited) is India’s largest online food and
                    grocery store. With over 18,000 products and over a 1000 brands in our catalogue you will find
                    everything you are looking for. Right from fresh Fruits and Vegetables, Rice and Dals, Spices
                    and
                    Seasonings to Packaged products, Beverages, Personal care products, Meats – we have it all.
                    <br>

                    Choose from a wide range of options in every category, exclusively handpicked to help you find
                    the
                    best quality available at the lowest prices. Select a time slot for delivery and your order will
                    be
                    delivered right to your doorstep, anywhere in Bangalore, Hyderabad, Mumbai, Pune, Chennai,
                    Delhi,
                    Noida, Mysore, Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar, Lucknow-Kanpur,
                    Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, Patna, Indore and Chandigarh Tricity. You can
                    pay
                    online using your debit / credit card or by cash / sodexo on delivery.
                    We guarantee on time delivery, and the best quality!
                    Happy Shopping

                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="card-header back">
                <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                    <b>Why should I shop at E-shopping?</b>
                </a>
            </div>
            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                <div class="card-body" style="background-color: aliceblue;">
                    <div>
                        <img src="https://www.bigbasket.com/static/uiv2/images/whybb.jpg" style="float: right;" class="img-fluid" alt="e-commerce">
                    </div>
                    E-shopping allows you to walk away from the drudgery of grocery shopping and welcome an easy relaxed
                    way of browsing and shopping for groceries. Discover new products and shop for all your food and
                    grocery needs from the comfort of your home or office. No more getting stuck in traffic jams, paying
                    for parking , standing in long queues and carrying heavy bags – get everything you need, when you
                    need, right at your doorstep. Food shopping online is now easy as every product on your monthly
                    shopping list, is now available online atE-shopping, India’s best online grocery store!

                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="card back">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                    <b>Where do we operate?</b>
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion" style="background-color: aliceblue;">
                <div class="card-body" >
                    <img src="https://www.bigbasket.com/media/uploads/flatpages/about-us/about_us_map_18nov_2015.png" alt="map" class="img-fluid" style="float: right;" width="250px">
                    We currently offer our services in Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi, Noida,
                    Mysore, Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar, Lucknow-Kanpur, Gurgaon,
                    Vadodara, Visakhapatnam, Surat, Nagpur, Patna, Indore and Chandigarh Tricity. city limits.

                </div>
            </div>
        </div>
        <br>
        <br>
        <!-- <div class="card back">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                    <b>what timing we are operating?</b>
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion" style="background-color: aliceblue;">
                <div class="card-body" >
                    <img src="https://thumbs.dreamstime.com/b/white-clock-isolated-background-p-m-wall-180576722.jpg" class="img-fluid" alt="clock" style="float: right;" width="100px">
                    Our 'Call & Order' facility is available every day of the week for our Bangalore & Mangalore stores
                    between 10 am to 7 pm.
                </div>
            </div>
        </div> -->
    </div>
</div>

<!-- FOR ME
 -->

<!-- <div class="container">
    Stack the columns on mobile by making one full-width and the other half-width -->
    <!-- <div class="row">
      <div class="col-md-8">.col-md-8</div>
      <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    </div> -->
  
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <!-- <div class="row">
      <div class="col-6 col-md-4">.col-6 .col-md-4</div>
      <div class="col-6 col-md-4">.col-6 .col-md-4</div>
      <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    </div> -->
  
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <!-- <div class="row">
      <div class="col-6">.col-6</div>
      <div class="col-6">.col-6</div>
    </div>
  </div> --> 