<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="bi bi-shop"></i>
        </a>
        <a class="navbar-brand" href="javascript:void(0)" routerLink="" routerLinkActive="active">E-Shopping</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" routerLink="" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" routerLink="/about" routerLinkActive="active">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" routerLink="/service" routerLinkActive="active">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" routerLink="/signup" routerLinkActive="active"> Signup Form</a>
                </li>
            </ul>

        </div>
    </div>
</nav>