<!-- slider -->

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.zintzotek.com/zin/img/slider/slider3.png" class="img-fluid" alt="Los Angeles"
                class="d-block" style="width:100%">

        </div>
        <div class="carousel-item">
            <img src="https://www.zintzotek.com/zin/img/slider/slider1.jpg" class="img-fluid" alt="Chicago"
                class="d-block" style="width:100%">

        </div>
        <div class="carousel-item">
            <img src="https://www.zintzotek.com/zin/img/slider/slider2.jpg" class="img-fluid" alt="New York"
                class="d-block" style="width:100%">

        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>


<!-- grocey in veg  -->

<div class="container mt-5">
    <div id="topic">
        <h4>Top Savers Today <span class="badge bg-primary">20% OFF</span> <a style="float: right; color: red;"
                href="#">View All</a> </h4>
    </div>

    <div class="row">
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <span class="badge bg-success">20% OFF</span>
                    <i style="float: right;"> <img width="48" height="48"
                            src="https://img.icons8.com/color/48/vegetarian-food-symbol.png"
                            alt="vegetarian-food-symbol" /> </i>
                </div>
                <img src="https://www.zintzotek.com/zin/img/item/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Broccoli</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Available in 500 gm</h6>
                    <p class="card-text" style="float: left;"> <b> $3.00 </b>
                        <br>
                        <span class="span1">$3.06</span>
                    </p>
                    <a href="#" style="float: right;" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>

        <!--  -->
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <span class="badge bg-success">20% OFF</span>
                    <i style="float: right;"> <img width="48" height="48"
                            src="https://img.icons8.com/color/48/vegetarian-food-symbol.png"
                            alt="vegetarian-food-symbol" /> </i>
                </div>
                <img src="https://www.zintzotek.com/zin/img/item/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Green peas</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Available in 500 gm</h6>
                    <p class="card-text" style="float: left;"> <b> $5.00 </b>
                        <br>
                        <span class="span1">$5.10</span>
                    </p>
                    <a href="#" style="float: right;" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <span class="badge bg-success">20% OFF</span>
                    <i style="float: right;"> <img width="48" height="48"
                            src="https://img.icons8.com/color/48/vegetarian-food-symbol.png"
                            alt="vegetarian-food-symbol" /> </i>
                </div>
                <img src="https://www.zintzotek.com/zin/img/item/3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Corriender leaves</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Available in 500 gm</h6>
                    <p class="card-text" style="float: left;">
                        <b> $6.00 </b>
                        <br>
                        <span class="span1">$6.12</span>
                    </p>
                    <a href="#" style="float: right;" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <span class="badge bg-success">20% OFF</span>
                    <i style="float: right;"> <img width="48" height="48"
                            src="https://img.icons8.com/color/48/vegetarian-food-symbol.png"
                            alt="vegetarian-food-symbol" /> </i>
                </div>
                <img src="https://www.zintzotek.com/zin/img/item/4.jpg" class="card-img-top" alt="strawberry">
                <div class="card-body">
                    <h5 class="card-title">Strawberry</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> Available in 500 gm</h6>
                    <p class="card-text " style="float: left;"> <b> $4.00 </b>
                        <br>
                        <span class="span1">$4.08</span>
                    </p>
                    <a href="#" style="float: right;" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        <!--  -->

        <!-- for grocey -->
        <div class="container mt-5">
            <div id="topic">
                <h4>Best Offers View in Grocey<span class="badge bg-primary">30-40% OFF</span> <a
                        style="float: right; color: red;" href="#">View All</a> </h4>
            </div>

            <div class="row">
                <div class="col mt-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <span class="badge bg-success">30% OFF</span>
                            <i style="float: right;"> <img width="48" height="48"
                                    src="https://img.icons8.com/color/48/vegetarian-food-symbol.png"
                                    alt="vegetarian-food-symbol" /> </i>
                        </div>
                        <img src="https://www.zintzotek.com/zin/img/small/2.jpg" class="card-img-top" alt="oil">
                        <div class="card-body">
                            <h5 class="card-title">Sunflower Oil Can</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Available in 5 Lit.</h6>
                            <p class="card-text" style="float: left;"> <b> $13.00 </b>
                                <br>
                                <span class="span1">$15.06</span>
                            </p>
                            <a href="#" style="float: right;" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>

                <!--  -->
                <div class="col mt-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <span class="badge bg-success">40% OFF</span>
                            <i style="float: right;"> <img width="48" height="48"
                                    src="https://img.icons8.com/color/48/vegetarian-food-symbol.png"
                                    alt="vegetarian-food-symbol" /> </i>
                        </div>
                        <img src="https://www.bigbasket.com/media/uploads/p/l/70001657_9-english-oven-bread-fruit.jpg"
                            class="card-img-top" alt="bread">
                        <div class="card-body">
                            <h5 class="card-title">Milk Bread</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Available in 500 gm</h6>
                            <p class="card-text" style="float: left;"> <b> $1.26 </b>
                                <br>
                                <span class="span1">$2.10</span>
                            </p>
                            <a href="#" style="float: right;" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col mt-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <span class="badge bg-success">32% OFF</span>
                            <i style="float: right;"> <img width="48" height="48"
                                    src="https://img.icons8.com/color/48/vegetarian-food-symbol.png"
                                    alt="vegetarian-food-symbol" /> </i>
                        </div>
                        <img src="https://www.bigbasket.com/media/uploads/p/l/241600_7-tata-salt-iodized.jpg"
                            class="card-img-top" alt="Salt">
                        <div class="card-body">
                            <h5 class="card-title">Tata Salt</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Available in 1000 gm</h6>
                            <p class="card-text" style="float: left;">
                                <b> $1.00 </b>
                                <br>
                                <span class="span1">$1.32</span>
                            </p>
                            <a href="#" style="float: right;" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col mt-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <span class="badge bg-success">35% OFF</span>
                            <i style="float: right;"> <img width="48" height="48"
                                    src="https://img.icons8.com/color/48/vegetarian-food-symbol.png"
                                    alt="vegetarian-food-symbol" /> </i>
                        </div>
                        <img src="https://www.bigbasket.com/media/uploads/p/l/20004319_6-wai-wai-ready-to-eat-noodles-veg-masala.jpg"
                            class="card-img-top" alt="Noodles">
                        <div class="card-body">
                            <h5 class="card-title">Wai Wai Ready  Noodles</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> Available in 1000 gm</h6>
                            <p class="card-text " style="float: left;"> <b> $2.00 </b>
                                <br>
                                <span class="span1">$2.07</span>
                            </p>
                            <a href="#" style="float: right;" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- about us -->

<div class="container mt-5 box">
    <h3 style="text-align: center;">Why choose StarQuik?</h3>
    <div class="row mt-5">
        <div class="col cent">
            <img src="https://www.starquik.com/assets/img/quality-tag.png" alt="qty">
           <p > <b>Quality</b> </p>
            <p style="color: grey;">You can trust</p>
        </div>
        <div class="col cent">
            <img src="https://www.starquik.com/assets/img/delivery-vehicle.png" alt="qty">
           <p > <b>Same Day Delivery</b> </p>
            <p style="color: grey;">At your doorstep</p>
        </div>
        <div class="col cent">
            <img src="https://www.starquik.com/assets/img/return-policy.png" alt="qty">
           <p > <b>Return Policy</b> </p>
            <p style="color: grey;">No questions asked</p>
        </div>
    </div>
</div>

<!-- about -->

<div class="container box mt-5">
    <div class="container mt-3">
        <h2>Online Grocery Store With the Freshest Produce — E-Shopping Grocery</h2>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;E-Shopping Grocery is the leading hypermarket and focuses to provide its customers with fresh produce every time they visit the store, be it the physical or online grocery store. E-Shopping Grocery has 12,500+ stores in 44 countries across 4 continents. In India E-Shopping Grocery currently has 24 stores across 9 cities including — Bangalore, Mangalore, Shimoga, Chennai, Coimbatore, Hyderabad, New Delhi, Gurugram and Ghaziabad. Apart from physical stores, E-Shopping Grocery also has an online presence. It is great to get all your groceries and daily essentials delivered right to your doorstep? Isn’t it?
            <br> &nbsp;&nbsp;&nbsp;&nbsp;
            E-Shopping Grocery’s 24 online hypermarket in India is convenient, has top brands, exclusive deals and so much more to offer:</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">Read more</button>
        <div id="demo" class="collapse">
        <pre>
- Unbeatable Offers Every Day: We have eye-catching offers every day on groceries, Meat, fruits & vegetables, personal care and other items.
- Offer Zone: Excellent offers on Heath & Hygiene, Nuts, Immunity Boosters, Monsoon Essentials and Nutritional Beverages.
- Bigger Savings: Save more when online grocery shopping and for other products as well on SPAR. Now, buy groceries online and save big, as there are great offers every single day.
- Freshest Produce: The freshness of our products doesn’t differ whether you order from our online hypermarket or physical store, the freshness and quality will still be the same.
- Same Day Delivery: Wish your orders could reach you as soon as possible? Consider it done! Order and you shall receive! Get your items delivered on the same day you place your order.
- Free Delivery: We offer free delivery on orders above Rs. 1200/- and in case you are running out of cash, don’t worry, we also accept cards on delivery.
- Hassle-Free Returns: SPAR has a ‘No Questions Asked Return Policy’ in place, which allows you to return the product at the time of delivery if you are not satisfied with the product.

India’s Leading Online Supermarket

The team at SPAR is committed to its vision of being the most engaging and innovative hypermarket in India. We are constantly striving to make a difference in the lives of our team, customers, communities and shareholders. SPAR worldwide stores are committed to its core values Freshness, Choice, Value & Service.

Freshness: This has always been our prime focus at SPAR. We believe in providing our customers with the freshest fruits and vegetables, fish, meat & poultry items that are either sourced locally or imported. Our ‘Farmers Market’ section is where the local produce is procured directly from farmers and sent to the SPAR collection centres where the quality is graded and quickly sent to all the SPAR stores.

Value: SPAR ensures that the customers get the best quality products at the value of the price they have paid. Whether you are food shopping online or buying groceries online, we have excellent offers running every day. We have various offers on now and then to ensure our customers’ are content with a valuable shopping experience at SPAR — Online Hypermarket.

Choice: Do you find yourself picking up whatever is available online? You haven’t shopped from our online supermarket. We have a range of products, different categories and top brands to choose from.

Service: Great service is at the heart of what we do. Our customer service call centre is available from 11 am to 8 pm every day. You can call us or drop us a mail at care@sparindia.com

Our online store aims at providing convenience to customers from anywhere and at any time. We are dedicated to providing 100% order fulfilment, on-time delivery and easy returns. We also have a ‘Call & Order’ service every day from our stores in Bangalore and Mangalore between 10 am to 7 pm. You can also use our online supermarket app, available for download on both Google Play and App Store.

Did you know, you can earn points as you shop? With the Landmark Group’s Loyalty Program, SPAR stores in India function with the Landmark Rewards. Enrol yourself with just your phone number and make the most of the various benefits such as:

- Earn & spend points at all Landmark stores in Inda
- Offers personalized just for you
- End of Season Sale Preview
- Birthday Bonus Points
- Out of Store offers

You can use your landmark points across Landmark Group Stores such as MAX Fashion, Home Centre, Lifestyle, Melange and more. We hope the offers and services we provide make our customers want to come back to shop with us. Our goal is to offer our customers the value of the products purchased from our stores while being able to save up big every time they make a purchase. We aim at providing our customers with an excellent shopping experience that they haven’t experienced anywhere else, but at SPAR only — The leading online supermarket and online grocery shopping in India.
        </pre>
        </div>
      </div>
</div>